<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttp_IRegistryCartographyService">
                    <security mode="TransportWithMessageCredential" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://registryservice.gov.az:10443/RegistryCartographyService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttp_IRegistryCartographyService"
                contract="EDR01.ServiceReference.IRegistryCartographyService" name="BasicHttp_IRegistryCartographyService" />
        </client>
    </system.serviceModel>
</configuration>